.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  
  .nameLabel {
    position: absolute;
    background: #000;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    left: 24px;
    top: 0;
  }
}
